.field-title {
  font-size: 3rem;
  line-height: 1.1;
}

.field-teaser {
  // color: color(text-grey);
  // font-size: 1.25em;
  // line-height: 1.6;
  // @include typeface(compact);
  // @include type-layout(1.3em, 1.6);
  color: color(text-grey);
  font-size: 1.3em;
  line-height: 1.3;
  @include typeface(serif);
  // line-height: 1.2;
}

.field-article-author {
  font-weight: bold;
  text-transform: uppercase;
  @include type-layout(m,1);
  @include typeface(compact);
}

.field-publishing-partner {
  color: color(text-grey);
  font-style: italic;
  @include type-layout(m,1);
  @include typeface(serif);
}
