// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

.header,
%header {
  align-items: center;

  background: color(bga-blue);
  box-shadow: 0 4px 4px rgba(0,0,0,.06);
  color: color(white);
  display: flex;


  // Wrapping link for logo.
  &__logo {
    padding: 0;
    @include margin( 0 .5 0 0 );

    @include rtl() {
      float: right;
      @include margin( 0 0 0 .5 );
    }
  }

  // Logo image.
  &__logo-image {
    filter: grayscale(1) brightness(10);
    height: 36px;
    vertical-align: bottom;
  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {

    border-left: 2px solid white;
    display: none;
    line-height: 1;
    @include padding( .2 0 .1 .5 );
    @include type-layout(m,1);
    @include typeface(compact);

    @media (min-width: 450px) {
      display: block;
    }
  }

  // The name of the website.
  &__site-name {
    font-size: 1.33em;
    font-weight: normal;
    line-height: 1;
    margin: 0;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(white);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    font-weight: 100;
    margin: 0;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;
    margin-left: auto;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }
  @extend %clearfix;

  // Theme styles
  @include padding(.25 1);
}

.header--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
