// Prose
//
// Within articles, etc., we want the main text to be styled with serif font. By
// applying `.prose` to the wrapping container, all paragraphs will be styled
// with serif font.
//
// Markup: prose.twig
//
// Style guide: components.prose

.prose,
%prose {
  font-size: 17px;
  line-height: 1.6;
  p {
    @include typeface(serif);
  }
  > * {
    @include margin(1 0);
    // max-width: 700px;
  }

  @media (min-width: 777px) {
    font-size: 19px;
  }
}
