<div class="prose">
  <h2>Sample heading</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat ipsum sit amet urna facilisis, ac condimentum lorem eleifend.</p>
  <p>Maecenas imperdiet sed ex dapibus tristique. Aenean ligula erat, maximus malesuada placerat nec, pulvinar a neque.</p>
</div>