// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: tables-table.twig
//
// Weight: 1
//
// Style guide: base.table

table {
  // Add vertical rhythm margins.
  @include margin(1 0);
  @include type-layout(s, 1);
  @include typeface(sans);
  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;
  // Prevent cramped-looking tables
  width: 100%;
}

caption {
  @include margin(.5);

  color: color(text-grey);
}

thead {
  border-bottom: 1px solid color(border);
}

tfoot {
  border-top: 1px solid color(border);
}

tbody > tr {
  &:nth-child(2n+1) {
    background: color(body-bg);
  }
}

td {
  @include padding(.5);
  vertical-align: top;
}

th {
  @include padding(.5);
  font-weight: bold;
  text-align: left;
}

thead > th {
  vertical-align: bottom;
}

tfoot > th {
  vertical-align: top;
}
