// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: tables-table.twig
//
// Weight: 1
//
// Style guide: base.table

table {
  // Add vertical rhythm margins.
  @include margin(1 0);
  @include type-layout(s, .75);
  @include typeface(sans);
  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;
  // Prevent cramped-looking tables
  width: 100%;
}

caption {
  @include margin(.5);
  @include type-layout(l, 1);

  color: color(text-black);
  font-weight: bold;
  text-align: left;
}

thead,
tfoot {
  border-top: 1px solid color(border);
  border-bottom: 1px solid color(border);
}

tbody > tr {
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: 0;
  }
}

td {
  @include padding(.25);
  vertical-align: top;
}

th {
  @include padding(.25);
  font-weight: 600;
  letter-spacing: .5px;
  text-align: left;
  text-transform: uppercase;
}

thead > th {
  vertical-align: bottom;
}

tfoot > th {
  vertical-align: top;
}
