<blockquote class="pullquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
  erat a ante.</p>
</blockquote>

<blockquote class="pullquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
  erat a ante.</p>
  <cite>J. Smith</cite>
</blockquote>